<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>修改模板引擎的标识符</title>
    <link rel="stylesheet" href="/xxx/index.css">
</head>
<body>
<div>{{ . | curry }}</div>
<script src="/xxx/index.js"></script>
</body>
</html>